
  <ul class='product-list-wrapper'>
    <li class="product-holder" *ngFor="let product of products">
      <div class="image-holder">
        <img src={{product.image}}/>
      </div>
      <div class="product-desc-holder">
        <span class="product-name">{{product.name}}</span> <br/> 
        <span class="product-price">{{product.price}}</span>
      </div>
      <div class="button-holder">
        <button *ngIf="product.stock > 0; else showNoStock" class="buy-btn button">BELI</button>
        <ng-template #showNoStock>
          <button class="nostock-btn button">HABIS</button>
        </ng-template>
      </div>
      </li>
  </ul>
